version: "3.8"

services: 
  
  backend: 
    #    build: ./todo_backend
    image: ashwithm01/todo-backend:v1 
    container_name: todo-backend
    env_file:
      - ./todo_backend/.env
    networks: 
      - mern-network    

  frontend: 
    #    build:
    #      context: ./todo_frontend
    #      args: 
    #        REACT_APP_API_URL: /api/
    image: ashwithm01/todo-frontend:v1  
    container_name: todo-frontend
    ports: 
      - "80:80"
    depends_on: 
      - backend
    networks:
      - mern-network    
        

networks:
  mern-network:
    driver: bridge
